<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>{{title}} Zack's Blog</title>
  <meta content='width=device-width,initial-scale=1,user-scalable=no' name='viewport'>
  <base href="/"></base>
  <%= favicon_link_tag 'favicon.png'%>
  
  <meta property="og:locale" content="zh_TW"/>

  <% @og.each do |k,v| %>
  <meta property="og:<%= k %>" content="<%= v %>"/>
  <% end %>

  <meta property="og:site_name" content="ZackExplosion"/>

  <%= stylesheet_link_tag 'front/application', media: 'all' %>
  <%= javascript_include_tag 'front/application' %>

  
  <%= csrf_meta_tags %>
</head>
<body>
<div id="loading" ng-show="loading" class="whirly-loader">Loading…</div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" ui-sref="posts.list">
        <img src="<%= asset_path("favicon.png", type: :image) %>" />Zack's Blog
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div ui-view></div>
  <%= yield %>
</div>
</body>
</html>
