<!DOCTYPE html>
<html data-ng-app="blog">
<head>
  <title><%= @og[:title] %></title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta content='width=device-width,initial-scale=1,user-scalable=no' name='viewport'>
  <meta name="author" content="Zack" />
  <base href="/" />
  <%= favicon_link_tag 'favicon.png'%>
  
  <meta property="og:locale" content="zh_TW"/>

  <% @og.each do |k,v| %>
  <meta property="og:<%= k %>" content="<%= v %>"/>
  <% end %>

  <% @og_images.each do |v| %>
  <meta property="og:image" content="<%= v %>"/>
  <% end %>

  <meta property="og:site_name" content="ZackExplosion"/>

  <meta name="description" content="<%= @og[:description] %>">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
  <%= stylesheet_link_tag 'front/application', media: 'all' %>
  <%= javascript_include_tag 'front/application' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<!--
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=890410117671592";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->

<div id="loading" data-ng-show="loading" class="whirly-loader">Loading…</div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div data-class="nav-header">
      <a class="navbar-brand" data-ui-sref="index">
        <img alt="Zack's Blog" src="<%= asset_path("favicon.png", type: :image) %>" />Zack's Blog
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">  
  <div class="col-md-8" data-ui-view></div>
  <div id="sidebar" class="col-md-4">
    <div id="sidebar-wrapper">

<!--     <div class="fb-like" data-href="{{current_url}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div> -->

    <!-- <hr /> -->

    <div id="livehouse" data-ng-class="{living : is_streaming()}">
      <div class="buttons" data-ng-click="changeLiveStatus()">
        <button data-ng-show="is_streaming()" class="btn"><span class="glyphicon glyphicon-chevron-up"></span></button>
        <button data-ng-hide="is_streaming()" class="btn"><span class="glyphicon glyphicon-chevron-down"></span></button>
      </div>

      <h3 data-ng-click="changeLiveStatus()">現場直播</h3>
      <hr />
<!--       <div data-ng-hide="is_streaming()" class="offline">
        <h4>實況主正在上班</h4>
      </div> -->
      <div data-ng-show="is_streaming()" class="video-wrapper"></div>
      <div data-ng-show="is_streaming()" class="chat-wrapper"></div>
      
    </div>
    <!-- #livehouse -->

    

<!--     <h3>相關內容</h3>
    <hr />
    <div data-ui-view="sidebar_posts"></div> -->

    {{relate_posts | json}}    

    </div>
    <!-- #sidebar-wrapper -->
  </div>
  <!-- #sidebar -->
  
  </div>
  <!-- .row -->

  
  <%= yield %>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8649920-11', 'auto');
  // ga('send', 'pageview');

</script>
</body>
</html>
